#portfolio{
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 1rem;
  
}

.pTitle {
  font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #E5D283;
}

.worksSubTitle {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.worksImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 60rem;
}

.worksImg {
  object-fit:fill;
  height: 20rem;
  width: 25rem;
  margin: 1rem;
  padding-bottom: 4.5rem;
  border-radius: 1rem;
  border: #E5D283 solid 3px;
  transition: transform 0.2s ease-in-out;
}

.port1 {
  position: relative;
  display: inline-block;
}

.githubIcon {
  position: absolute;
  bottom: -2%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 4rem;
  width: 4rem;
}

.jobIcon {
  position: absolute;
  bottom: -2%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 4rem;
  width: 4rem;
}

.bloglogo {
  position: absolute;
  bottom: -2%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 4rem;
  width: 8rem;
}

.happyCow {
  position: absolute;
  bottom: -3%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 4.5rem;
  width: 6rem;
}

.githubIcon:hover, 
.bloglogo:hover,
.happyCow:hover,
.jobIcon:hover {
  cursor: pointer;
  border: #E5D283 solid 3px;
  border-radius: 50px;
}


@media screen and (max-width: 768px) {
#portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 1rem;
}

  .worksImg {
    height: 14rem;
    width: 12rem;
  }

 .pTitle {
   font-size: 2rem;
 }

 .worksSubTitle {
   font-size: 1rem;
 }

 .bloglogo {
  position: absolute;
  bottom: 7%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 2.5rem;
  width: 4rem;
}

.happyCow {
  position: absolute;
  bottom: -2%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 4rem;
  width: 5rem;
}

.githubIcon {
  position: absolute;
  bottom: 4%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 3rem;
  width: 3rem;
}

.jobIcon {
  position: absolute;
  bottom: 4%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 3rem;
  width: 3rem;
}
}