.navbar {
   margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0rem;
  z-index: 100;
  background-color: rgb(46, 71, 91);
}

.logoNav {
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 0rem;
}

.navbarLinks {
  margin: 1rem;
  cursor: pointer;
  letter-spacing: 2.5px;
}

.navbarLinks:hover {
  color: #E5D283;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #E5D283;
}

.contactMeBtn {
  border: none;
  background-color: rgb(238, 228, 177);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0 1rem;
}

.contactMeImg {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

@media screen  and (max-width: 855px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    top: 0rem;
  }  

    .logoNav {
     display: none;
    }
    
    .contactMeBtn {
      width: 10rem;
      height: 2.5rem;
    }
   
  }
  
