#intro {
  height: 80vh;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
}

.bg {
  position: relative;
  /* top: 1.5rem; */
  right: 5vw;
  z-index: -1;
  object-fit: cover;
  height: 25rem;
  width: auto;
  border-radius: 30rem;
  border: #E5D283 solid 3px;
}


.introContent {
  height: 80vh;
  width: 80vw;
  padding: 6rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello{
  font-size: 1.75rem;
  font-weight: 100;
  margin-bottom: .5rem;
}

.introName {
  color: #E5D283;
  letter-spacing: 7px;
  font-weight: 700;
  font-style: italic !important;
}

.introPara{
  font-size: medium;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: 5rem;
  letter-spacing: 1.5px;
}


@media screen and (max-width:950px) {
  .bg {
    height: 20rem;
    width: auto;
    border-radius: 20rem;
  }

  .introContent {
    padding: 3rem;
    font-size: 1.5rem;
  }

  .introPara{
    font-size: small;
    margin-right: 0;
  }

  section {
    padding-top: 0;
  }
  
}

@media screen and (max-width: 769px) {

  #intro {
    height: calc(100vh - 20rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bg {
    /* top: -1rem; */
    height: 15rem;
    width: auto;
    border-radius: 15rem;
    margin-left: 2rem;
  }

  .introContent {
    word-spacing: 3px;
    width: 100vw;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
  }

  .introPara{
    font-size: xx-small;
  }

  section {
    padding-top: 0;
  }
  
}


@media screen and (max-width: 376px) {

  #intro {
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bg {
    top: -2rem;
    height: 12rem;
    width: auto;
    border-radius: 15rem;
    margin-left: 2rem;
  }
}