 #aboutMe {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(46, 71, 91, 0.418);
    padding: 4rem 0 5rem 0;
}

.aboutMeTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #E5D283;


}

.aboutMeText {
   font-weight: 300;
   font-size: 1.1rem;
   max-width: 75rem;
   padding: 0 2rem;
   margin-bottom: 1rem;
} 

.skillBars{
  margin: 1rem 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar{
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #98b9c463;
}

.skillBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

h2 {
  color: #E5D283;
  font-size: 2rem;
}

.skillBarText {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
#aboutMe{
  padding: 3rem 0;
}

  .aboutMeText {
    font-weight: 200;
    font-size: .7rem;
 } 

 .skillBarText {
  font-size: .55rem;
  font-weight: 200;
}

.skillBarImg {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.aboutMeTitle {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

} 